{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row text-white">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Item: {{product.title}}</h2>
   <hr>
   <h4>Price: {{product.price}} TK</h4> <br>
   <form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value={{product.id}} id= "prod_id">
    <button type="submit" class = "btn btn-warning shadow px-5 py-2">Add to Cart</button>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}